<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Software Manager</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<!--	<script th:src="@{/js/json-to-table.js}"></script>-->
	<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" />
	<style>
		.modal.show {
			animation: modalOpen .3s;
		}

		@keyframes modalOpen {
			0% {
				-webkit-transform: scale(1);
				transform: scale(1);
			}

			1% {
				-webkit-transform: scale(.75);
				transform: scale(.75);
			}

			45% {
				-webkit-transform: scale(.99);
				transform: scale(.99);
			}

			80% {
				-webkit-transform: scale(.97);
				transform: scale(.97);
			}

			100% {
				-webkit-transform: scale(1);
				transform: scale(1);
			}


		}
	</style>
</head>

<body>

	<div class="container">
		<br />
		<button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#myModal3">
			<i class="bi bi-plus"></i>Add Software
		</button>
		<div id="wrapper"></div>
	</div>

	<div class="modal fade" tabindex="-1" id="myModal">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Confirmation</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<div class="modal-header">
					<h6 class="text-danger">It might be irreversible operation. Are you sure? </h6>
				</div>
				<div class="modal-body" id="modalBody">
					<p>Modal body text goes here.</p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<button id="delButton" class="btn btn-sm btn-danger" onClick="deleteOperation(this)">Yes. Delete
						!</button>
				</div>
			</div>
		</div>
	</div>


	<div class="modal" tabindex="-1" id="myModal2">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit existing Info</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<div class="modal-header">
					<h6 class="text-danger">Are you sure? </h6>
				</div>
				<div class="modal-body" id="modalBody2">
					<p>Modal body text goes here.</p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<a id="updateButton" class="btn btn-sm btn-danger" onClick="putData()">Yes. Update It !</a>
				</div>
			</div>
		</div>
	</div>


	<div class="modal" tabindex="-1" id="myModal3">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Record</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<div class="modal-header">
					<h6 class="text-danger">Adding new info. Are you sure? </h6>
				</div>
				<div class="modal-body" id="modalBody3">
					<label>Software Name</label></br><input id="add-softwarename" class="form-control add-item"
						name="add-softwarename" type="text" value="" /></br>
					<label>Software Provider</label></br><input id="add-softwareprovider" class="form-control add-item"
						name="add-softwareprovider" type="text" value="" /></br>
					<label>Software Contactemail</label></br><input id="add-softwareprovidercontactemail"
						class="form-control add-item" name="add-softwareprovidercontactemail" type="" value="" /></br>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<a id="updateButton" class="btn btn-sm btn-success" onClick="addDataFunction()">Save</a>
				</div>
			</div>
		</div>
	</div>

	<div id="putResult"></div>

	<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
	<script>
		const grid = new gridjs.Grid({
			columns: ['Id', 'Software Name', 'Provider', 'Contact Email', 'customers', 'Action'],
			resizable: true,
			sort: true,
			fixedHeader: true,
			pagination: {
				//limit: 5,
				server: {
					url: (prev, page, size) => `${prev}&page=${page}&size=${size}`
				}
			},
			search: {
				server: {
					url: (prev, keyword) => `${prev}${keyword}`
				}
			},
			server: {
				url: '/softwares/search/softwarenameContaining?softwarename=',
				then: data => data._embedded.softwares.map(software => [
					software.id, software.softwarename, software.softwareprovider, software.softwareprovidercontactemail,
					gridjs.html(custFunction(software.customers)), gridjs.html(`
					<button class="mx-3 btn btn-sm btn-warning" onClick="editFunction('${software._links.appSoftware.href}', this)">
						<i class="bi bi-pencil-square"></i></button>
					
					<button class="mx-3 btn btn-sm btn-danger" onClick="deleteFunction('${software._links.appSoftware.href}', this)">
						<i class="bi bi-trash"></i></button>
					`)
				]),
				total: data => data.page.totalElements
			},
			style: {
				table: {
					border: '3px solid #ccc'
				},
				th: {
					'background-color': 'rgba(0, 0, 0, 0.1)',
					color: '#000',
					'border-bottom': '3px solid #ccc',
					'text-align': 'center'
				},
				td: {
					'text-align': 'center'
				}
			}
		});

		grid.render(document.getElementById("wrapper"));

		function custFunction(data) {
			let htmlToSend = ''
			const names = [];
			for (let i = 0; i < data.length; i++) {
				htmlToSend += `${data[i].name}</br>`;
			}
			return htmlToSend;
		}

		function deleteFunction(url, elem) {
			let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('myModal'));
			var target = document.querySelector("#modalBody");
			target.textContent = "";
			fetch(url, {headers: {'Cache-Control': 'no-cache'}})
				.then(
					function (response) {
						if (response.status !== 200) {
							console.log('Error..!! Status Code: ' + response.status);
							return;
						}
						response.json().then(function (data) {
							target.insertAdjacentHTML('beforeend', myObjIterFunction(data, elem));
							//target.insertAdjacentHTML('beforeend', myEditObjIterFunction(data));

						});
					}
				)
				.catch(function (err) {
					console.log('Fetch Error :', err);
				})
			modal.show();
		}


		function editFunction(url, elem) {

			let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('myModal2'));
			var target = document.querySelector("#modalBody2");
			target.textContent = "";
			fetch(url, {headers: {'Cache-Control': 'no-cache'}})
				.then(
					function (response) {
						if (response.status !== 200) {
							console.log('Error..!! Status Code: ' + response.status);
							return;
						}
						response.json().then(function (data) {
							var htmlFromObj = '';
							Object.entries(data).forEach(([key, value]) => {

								if (key == 'id') {
									htmlFromObj += '<input  name="' + key + '" type="hidden" value="' + value + '" id=put-' + key + '>';
								}

								if (key == 'softwarename' || key == 'softwareprovider' || key == 'softwareprovidercontactemail') {
									htmlFromObj += '<label>' + key.toUpperCase() + '</label></br><input  class="form-control" name="' + key + '" type="text" value="' + value + '" id=put-' + key + '>' + '</br>';
								}
							});

							target.insertAdjacentHTML('beforeend', htmlFromObj);
							modal.show();
							document.getElementById("updateButton").setAttribute('name', data._links.appSoftware + '/update');
						});
					}
				)
				.catch(function (err) {
					console.log('Fetch Error :', err);
				})
			modal.show();

		}


		function myEditObjIterFunction(formData) {
			let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('myModal'));
			var target = document.querySelector("#modalBody");
			var htmlFromObj = '';
			Object.entries(formData).forEach(([key, value]) => {

				if (key == 'id') {
					htmlFromObj += '<input  name="' + key + '" type="hidden" value="' + value + '" id=put-' + key + '>';
				}

				if (key == 'softwarename' || key == 'softwareprovider' || key == 'softwareprovidercontactemail') {
					htmlFromObj += '<label>' + key + '</label></br><input  type="text" value="' + value + '" id=put-"' + key + '">' + '</br>';
				}
			});
			target.insertAdjacentHTML('beforeend', htmlFromObj);
			modal.show();
		}


		function myObjIterFunction(data, elem) {

			var htmlFromObj = "";
			for (const [key, value] of Object.entries(data)) {
				if (typeof value === "object") {
					htmlFromObj += "<b>Links </b>: ";
					for (const [k, v] of Object.entries(value)) {
						htmlFromObj += "<br>" + k + " -- " + v.href;
					}
				} else {
					htmlFromObj += "<b>" + titleCase(key) + "</b> :  " + value + "<br>";
				}
			}
			document.getElementById("delButton").setAttribute('name', data._links.appSoftware.href + '/delete');
			return htmlFromObj;
		}



		function deleteOperation(elem) {
			let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('myModal'));
			fetch(elem.getAttribute('name'), {
				method: 'DELETE',
			})
				.then(res => {
					res.text();
					if (res.status !== 200) {
						console.log('Fetch DELETE Error..!! Status Code: ' + res.status);
						return;
					} else {
						modal.hide();
						grid.forceRender(document.getElementById("wrapper"));
						console.log("Delete Successful !");
					}

				});
		}

		async function addDataFunction() {
			let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('myModal3'));
			const softwarename = document.getElementById("add-softwarename").value;
			const softwareprovider = document.getElementById("add-softwareprovider").value;
			const softwareprovidercontactemail = document.getElementById("add-softwareprovidercontactemail").value;


			var elements = document.getElementsByClassName("add-item");
			for (let i = 0; i < elements.length; i++) {
				//console.log(elements[i].value);
				if (elements[i].value === "") {
					alert("All inputs are required and must be filled out");
					return false;
				}
			}

			const addData = {
				softwarename: softwarename,
				softwareprovider: softwareprovider,
				softwareprovidercontactemail: softwareprovidercontactemail,
			};

			try {
				const res = await fetch(`/softwares/add`, {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
						"x-access-token": "token-value",
					},
					body: JSON.stringify(addData),
				});

				if (!res.ok) {
					const message = `An error has occured: ${res.status} - ${res.statusText}`;
					throw new Error(message);
				}

				const data = await res.json();

				const result = {
					status: res.status + "-" + res.statusText,
					headers: {"Content-Type": res.headers.get("Content-Type")},
					data: data,
				};
				grid.forceRender(document.getElementById("wrapper"));

				clearDivInputs("myModal3");

				modal.hide();

				//resultElement.innerHTML = htmlizeResponse(result);
			} catch (err) {
				//resultElement.innerHTML = htmlizeResponse(err.message);
				console.log("Fetch POST Error occurred !");
			}
		}

		async function putData() {

			let resultElement = document.getElementById("putResult");
			resultElement.innerHTML = "";
			let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('myModal2'));

			const id = document.getElementById("put-id").value;
			const softwarename = document.getElementById("put-softwarename").value;
			const softwareprovider = document.getElementById("put-softwareprovider").value;
			const softwareprovidercontactemail = document.getElementById("put-softwareprovidercontactemail").value;

			const putData = {
				softwarename: softwarename,
				softwareprovider: softwareprovider,
				softwareprovidercontactemail: softwareprovidercontactemail,
			};

			try {
				const res = await fetch(`/softwares/${id}/update`, {
					method: "PUT",
					headers: {
						"Content-Type": "application/json",
						"x-access-token": "token-value",
					},
					body: JSON.stringify(putData),
				});

				if (!res.ok) {
					const message = `An error has occured: ${res.status} - ${res.statusText}`;
					throw new Error(message);
				}

				const data = await res.json();

				const result = {
					status: res.status + "-" + res.statusText,
					headers: {"Content-Type": res.headers.get("Content-Type")},
					data: data,
				};
				grid.forceRender(document.getElementById("wrapper"));


				modal.hide();

			} catch (err) {
				console.log("Fetch PUT Error occurred !");
			}
		}

		function clearDivInputs(divId) {
			var inputElements = document.getElementById(divId).querySelectorAll("input");
			for (const theInput of inputElements) {
				theInput.value = "";
			}
		}

		function titleCase(str) {
			return str.toLowerCase().replace(/\b\w/g, s => s.toUpperCase());
		}

	</script>

	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>